body {
    width: 1200px;
    background-color: rgb(255, 253, 189);
    font-size: 1.8em;
    font-family: sans-serif;
}
header {
    width: 1200px;
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
nav {
    display: flex;
    width: 400px;
    height: 150px;
    align-items: center;
    justify-content: space-between;    
}
.native {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 350px;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
article {
    height: 300px;
    width: 150px;
    border: 3px solid;
}
nav a{
    text_decoraition:none;
    color: black;
    display: block;
    padding: 10px;
    background-color: lightgray;
}
nav a:hover{
    transform: scale(1.5);
    transition: 1s;
}
